<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>simple SPA with Backbone.js and so on</title>
    <link href="vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="app/css/main.css" rel="stylesheet">
  </head>
  <body>

    <div id="base"></div>

    <!-- live view -->
    <script type="text/template" id="tpl-live">
      <div class="col-md-offset-4 col-md-4">
        <ul class="media-list row contacts-container">

            <div class="thumbnail">
              <img class="media-object" src="http://robohash.org/1?size=128x128">
            </div>

            <div class="media-heading">
              <h3 name="fullname">
                <small>
                  <a href="#contacts/edit/"><span class="glyphicon glyphicon-pencil edit-contract"></span></a>
                  <a href="#contacts/delete/" class="delete-contract">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                </small>
              </h3>
            </div>

            <div class="media-body">
              <dl>
                <dt>Age:</dit>
                <dd></dd>
                <dt>Phone Number:</dt>
                <dd></dd>
                <dt>Email:</dt>
                <dd></dd>
              </dl>
            </div>
     
     　 </ul>
      </div>
    </script>

    <!-- edit layout view -->
    <script type="text/template" id="tpl-edit-layout">
      <div id="main-header"></div>
      <div id="main-content"></div>
      <div id="main-live"></div>
    </script>

    <!-- search view -->
    <script type="text/template" id="tpl-search"> 
      <div class="col-xs-offset-3 col-sm-offset-4 col-xs-6 col-md-offset-4 col-lg-offset-4 col-sm-4 col-md-4 col-lg-4">
        <form class="form-search">
          <div class="form-group">
            <label for="exampleInputEmail1">名前検索</label>
            <input type="text" class="form-control search-input" id="exampleInputEmail1">
          </div>
        </form>
      </div>
    </script>

    <!-- sort view -->
    <script type="text/template" id="tpl-sort">
        <div class="sort-by"> 
            <p>ソート機能</p>    
            <div class="radio">
                <label>
                    <input type="radio" name="sortRadios" data-key="null" data-dir="asc" checked>
                     Off
                </label>
            </div>

             <div class="radio">
                <label>
                    <input type="radio" name="sortRadios" data-key="age" data-dir="asc">Young
                </label>
            </div>

             <div class="radio">
                <label>
                    <input type="radio" name="sortRadios" data-key="age" data-dir="desc">Old
                </label>
            </div>
      </div>
    </script>

    <!-- perpage view -->
    <script type="text/template" id="tpl-perpage">
      <div class="perpage"> 
            <p>表示量</p>    
            <div class="radio">
                <label value="option1">
                    <input type="radio" name="optionRadios" data-per-page="6" checked>6
                </label>
            </div>

             <div class="radio">
                <label value="option2">
                    <input type="radio" name="optionRadios" data-per-page="12">12
                </label>
            </div>

             <div class="radio">
                <label value="option3">
                    <input type="radio" name="optionRadios" data-per-page="18">18
                </label>
            </div>
      </div>
    </script>

    <!-- controller layout view -->
    <script type="text/template" id="tpl-controller-layout">
      <div id="controller-search"></div>
      <div class="row">
          <div class="col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4 col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="row">
              <div id="controller-perpage" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              </div>
              <div id="controller-sort" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              </div>
            </div>
          </div>
      </div>
    </script>

   <!-- pagination view -->
    <script type="text/template" id="tpl-pagination">
   
         <button class="btn btn-primary prev">Prev</button>
         <span class="current"></span> / <span class="total"></span>
         <button class="btn btn-primary next">Next</button>    
    </script>

    <!-- layout view -->
    <script type="text/template" id="tpl-layout">
      <div id="main-header"></div>
      <div id="main-controller"></div>
      <div id="main-content"></div>
      <div id="main-pagination"></div>
    </script>

    <script type="text/template" id="tpl-content">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 main-container" id="main-container">
          </div>
        </div>
      </div>
    </script>

    <!-- header view -->
    <script type="text/template" id="tpl-header">
        <header class="bs-header">
          <div class="container">
            <h1>simple SPA with Backbone.js and so on</h1>
          </div>
        </header>
    </script>

    <!-- contacts view -->
    <script type="text/template" id="tpl-contacts">   
      <p class="text-center">
        <a href="#contacts/new" class="btn btn-lg btn-outline add-contact-btn">Add Contact</a>
      </p>
      <ul class="media-list row contacts-container"></ul>
    </script>

    <!-- contact view -->
    <script type="text/template" id="tpl-contact">
      <div class="thumbnail">
        <img class="media-object" src="<%- avatar %>">
      </div>
      <div class="media-heading">
        <h3>
          <%- name %>
          <small>
            <a href="#contacts/edit/<%- id %>"><span class="glyphicon glyphicon-pencil edit-contract"></span></a>
            <a href="#contacts/delete/<%- id %>" class="delete-contract">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </small>
        </h3>
      </div>
      <div class="media-body">
        <dl>
          <dt>Age:</dit><dd><%- age %></dd>
          <dt>Phone Number:</dt>
          <dd><%- tel %></dd>
          <dt>Email:</dt>
          <dd><%- email %></dd>
        </dl>
      </div>
      <hr>
    </script>

    <!-- new contact form view -->
    <script type="text/template" id="tpl-new-contact">
          <h2 class="page-header text-center">ロボットを<%= isNew ? '追加する' : '編集する' %></h2>

          <form role="form" class="form-horizontal contract-form">
                  <div class="form-group">
                    <label class="col-sm-4 control-label">Age : </label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control contact-age-input" value="<%- age %>">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-4 control-label">Full name:</label>
                    <div class="col-sm-6">
                      <input type="text" name="fullname" class="form-control contact-name-input" value="<%- name %>">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-4 control-label">Email address:</label>
                    <div class="col-sm-6">
                      <input type="email" class="form-control contact-email-input" value="<%- email %>">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-4 control-label">Telephone number:</label>
                    <div class="col-sm-6">
                      <input type="tel" class="form-control contact-tel-input" value="<%- tel %>">
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-3">
                      <button type="submit" class="btn btn-outline btn-lg btn-block">Submit</button>
                    </div>
                    <div class="col-sm-3">
                      <a href="#contacts" class="btn btn-outline btn-lg btn-block form-cancel-btn">Cancel</a>
                    </div>
                  </div>
          </form>
    </script>

    <!-- Dependencies -->
    <script src="vendor/jquery/jquery.js"></script>
    <script src="vendor/underscore/underscore.js"></script>
    <script src="vendor/backbone/backbone.js"></script>
    <script src="vendor/marionette/lib/backbone.marionette.js"></script>
    <script src="vendor/Backbone.localStorage/backbone.localStorage.js"></script>
    <script src="vendor/backbone/backboneObscura.js"></script>
    <script src="vendor/backbone/backboneModelBinder.js"></script>


    <script src="app/js/app.js"></script>
    <script src="app/js/models/contact.js"></script>
    <script src="app/js/collections/contacts.js"></script>

    <script src="app/js/views/layoutView.js"></script>
    <script src="app/js/views/contact.js"></script>
    <script src="app/js/views/contacts.js"></script>
    <script src="app/js/views/contactForm.js"></script>
    <script src="app/js/views/headerView.js"></script>
    <script src="app/js/views/paginationView.js"></script>
    <script src="app/js/views/controllerLayoutView.js"></script>
    <script src="app/js/views/searchView.js"></script>
    <script src="app/js/views/perpageView.js"></script>
    <script src="app/js/views/sortView.js"></script>
    <script src="app/js/views/editLayoutView.js"></script>
    <script src="app/js/views/liveView.js"></script>

    <script src="app/js/controller.js"></script>
    <script src="app/js/router.js"></script>

    <script>
      $(function() {
        SPA.start();
      });
    </script>


    <a href="https://github.com/BackboneSatoshi/BackboneSatoshi.github.io"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="My github page" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"></a>
  </body>
</html>
